
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /*      typography */

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-alfa: "Poppins", sans-serif;
  

    --color-first: #0cfbcf;
    --color-second: #e2553c;
    --color-white: #fbf6ff;
    --color-black: #201926;

    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}

@media (min-width: 62em){
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-alfa);
    font-size: var(--normal-font-size);
    overflow-x: hidden;
    color: var(--color-third);
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}

ul, li {
    list-style-type: none;
}

/* Navbar */




nav {
    margin: 0 0 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elements {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    margin-left: 3.3rem;
    text-decoration: none;
    color: var(--color-black);
}

.menu-wrapper {
    width: 125px;
    height: 125px;
    padding: 2.8rem;
    background-color: var(--color-first);

}



